@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;500;600;700&family=Montserrat:wght@500;600;700&family=Overpass:wght@400;700&family=Poppins:wght@200;300;400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

/* Variables */
:root{
    /*Primary*/
    --clr-Marine: hsl(213, 96%, 18%);
    --clr-Purplish: hsl(243, 100%, 62%);
    --clr-Pastel: hsl(228, 100%, 84%);
    --clr-Lightblue: hsl(206, 94%, 87%);
    --clr-Strawberry: hsl(354, 84%, 57%);

    /*Neutral*/
    --clr-Cool: hsl(231, 11%, 63%);
    --clr-Lightgray: hsl(229, 24%, 87%);
    --clr-Magnolia: hsl(217, 100%, 97%);
    --clr-Alabaster: hsl(231, 100%, 99%);
    --clr-White: hsl(0, 0%, 100%);

    /*typography*/
    --fs-body: 16px;
}

/* ============================== General ============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif; /*400, 500, 700*/
    background-color: var(--clr-Lightblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
ul{
    text-decoration: none !important;
    list-style: none;
}
.hidden{
    display: none;
}
.main-container{
    margin: 0 250px;
    padding: 16px;
    background-color: var(--clr-White);
    border-radius: 10px;
    height: 565px;
    display: flex;
}
/* ============================== Sidebar start ============================== */
.sidebar{
    flex: 0 40%;
    max-width: 40%;
    background-image: url("/assets/images/bg-sidebar-desktop.svg");
    object-fit: cover;
    border-radius: 10px;
}
.sidebar ul{
    padding: 32px;
}
.sidebar ul li{
    display: flex;
    padding-bottom: 32px;
}
.sidebar ul li .left{
    flex: 0 20%;
    max-width: 20%;
    align-items: center;
    margin-right: 10px;
}
.sidebar ul li .right{
    flex: 0 80%;
    max-width: 80%;
}
.sidebar ul li .left h1{
    padding: 10px;
    font-size: 14px;
    color: var(--clr-Magnolia);
    align-content: center;
    border: 1px solid var(--clr-Magnolia);
    border-radius: 50%;
}
.sidebar ul li .left h1:active{
    color: var(--clr-Marine);
    background-color: var(--clr-Pastel);
}
.sidebar ul li div small{
    font-size: 12px;
    text-transform: uppercase;
    color: var(--clr-Cool);
}
.sidebar ul li div h3{
    font-size: 14px;
    color: var(--clr-Magnolia);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ============================== Home Section ============================== */
.section-title{

    color: var(--clr-Marine);
}
.section-subtitle{
    padding-top: 10px;
    padding-bottom: 45px;
    font-size: 12px;
    color: var(--clr-Cool);
}
.home{
    flex: 0 60%;
    max-width: 60%;
    margin: 50px;
}
.section-btn{
    position: relative;
    bottom: 0;
}